language: node_js
node_js:
- '0.12'
before_install: npm install -g grunt-cli
install: npm install
script: grunt
before_deploy:
- git config --global user.email "builds@travis-ci.com"
- git config --global user.name "Travis CI"
- export GIT_TAG=$TRAVIS_BRANCH-v0.1.$TRAVIS_BUILD_NUMBER
- git tag $GIT_TAG -a -m "Generated tag from TravisCI for build $TRAVIS_BUILD_NUMBER"
- git push -q https://${GH_TOKEN}@github.com/BitSyko/layers_showcase_json --tags
- ls -R
branches:
  except:
  - /^*-v[0-9]/
env:
  global:
  - secure: BJUAalxgiEiLJoj132qY9jGQbrDjtrcLxiYWxIPmoWYaQ5eQxdKPjoUg7nxR0kodR8UtIaoX1CuL19gpbf0Xt4Yv9XnxwINluB68OVK7GNNrMIkYo3ybOHLDY2i4G8djcXRAkKmkG9Z1qRUUF4Yme3o6N8HCmLQ+Bk8SUyPbR7L+dok01Qhk9hUBpmjPkAVLLpEqD9r5/bC+TSf7Hsl++Wrfqt8fn/YYNU/nfYD+2yQMJtz48Km8VXNCQ3bgGHCoJN9YrQrtTtsetyU/0NfV2M6qTN3GTflfZrKa2zLmlRI3meTUvDfB3BucZ2+5YD+G5awBcAyla1ulDFrnmkEmnKkVSqkn85efz3qv8As9j/H1Ub7dAKK2lWc7K/agBHUjw3/961qoWKXZKnKvonFMqD2wD3lJsUbjf3eoTrCK84QIQThcpi9HkOFu2r8xjQpIX14cXL2der5cyx9ny1Tzq8BzlpN2ezZBa/RpLdFYhUO0nkzffbKGEcZHMlrOXMhm+ZAy84UpFfxvRvNT02/pJKdq2vJHzKL20s/5+9m1S5ZnVcSqPt962klmwtSMd9j0Bs05ifY92htRYh1FLlNq+ZF3c597t141vLZa3mOizMnZqd6jMpZYeRCI5V1CyAZR67SSRS0ucfW9z/Xls2CbUDtyK0MqLvtDc1rRe60kB9g=
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: e7FYyDyvEyZBiIweVX61XA8vnxyOjZqk9ILxDJqUL+aOv0peXkZ7uPKh5I9WAUEeoQ2HDJPaYyWlyF7LqPFFv/nCHtdbTN7JM+YEri6xLbF+pqrO2pbQUAhiK3ZFwUUQfAq5AN7wM2wFVNRKkTasX4Poe2vb0ccaA6oOzLx2VhQzXL/rfBWMLLa9pfzqN3cj+dgR9NF+WQIcrMp6JiUbz4CCRnWZOWMOJYVclKDgwmsUr0r4n6WeU4TroZ8E3/H05qZ2scRfMasjTQi3MroKGijG+pluBxiimXrvovyYI/j6pZiIcPm8NYKH4l5HJB9UCvSrwn7oFVOuWNaL5s1YiFjMyL5LASXf3BmuTW2a8228La3ZQGR9n7uZ8ZMR3OOh87FIG5rWDkLFSdmliHP5+XerErfs9dYaYG+v3z5Xe58jq2YTn7jdY212fgXMiJCTuYBoUQWS7fj2X3a+qxlTKlNrUYoJeR6fCSCSlTmATvX+gnKVJkeUCLqk62Gp3egXOYNRG7laDbv7RVwtyjKCSzyw2jtNic5iWfMAZRezfkUH6IALNtuh04oFSLIkHybnZvYccCFzX2VGLhaYoMcHNlm7LgkTPXiGJ6dlmCzks/gbAj6xIeHSEJ6h9MuOXiPJZm5shCVfEWSnAmF3IQv5BTesklqNIj+gdnkmNsC2/Hc=
  file: dest/showcase.json
  on:
    repo: BitSyko/layers_showcase_json
    tags: false
    all_branches: true